%main
  .wrapper
    .contents
      .main__title my works
      %ul.main__content-1
        %li.main__content-1__list
          = link_to('Mercari', "/details/mercari")
        %li.main__content-1__list
          = link_to('SNS', "/details/sns")
        %li.main__content-1__list
          = link_to('Others', "/details/others")

      .main__content-2
        %ul.main__content-2__list
          %br
          %li.main__content-2__list__item
            　　　　created by: Mizuki Ando
          %li.main__content-2__list__item
            　　　　status: be in the job hunt!!

      .main__content-3
        %ul.main__content-3__list
          %br
          %li.main__content-3__list__item contact: mzk5326@gmail.com
