%main
  .wrapper
    .contents
      .main__title my works
        .main__content Mercari
          .main__content__list
            = image_tag 'クリーンショット 2019-07-10 20.46.40', alt: 'mercari', height: '30%', width: '30%'

