%main
  .wrapper-sub
    .contents
      .main__title-sub
        = link_to "my works", root_path
      %ul.main-sub__content
        %li.main-sub__content__list
          << TECH::EXPERTカリキュラム内での取り組み >>
          %br
          使用言語: Ruby,Javascript,Html,Haml,Css,Scss
          %br
        %li.main-sub__content__list
          %br
          ChatSpace:
          %br
          文字、写真の投稿が可能なチャットアプリケーション
        %li.main-sub__content__list
          ユーザー登録機能、複数人によるグループチャット機能、チャット相手の検索機能、チャットの自動更新
        %li.main-sub__content__list
          %br
          Pictweet:
          %br
          写真の投稿が可能なWebアプリケーション
          %br
          画像と文字をユーザーが投稿していくシンプルなサービス
