%main
  .wrapper-sub
    .contents
      .main__title-sub
        = link_to "my works", root_path
      %ul.main-sub__content
        %li.main-sub__content__list
          チャット可能なSNSサイト（個人開発）
          %br
          使用言語: Python
          %br
        %li.main-sub__content__list
          = image_tag '', alt: '', height: '40%', width: '40%'
        %li.main-sub__content__list
          %br
          
          %br 
          = image_tag '', alt: '', height: '40%', width: '40%'
        %li.main-sub__content__list
          %br
          
          %br
          = image_tag '', alt: '', height: '40%', width: '40%'
